In [65]:
import pandas as pd

In [66]:
df1=pd.read_csv("/content/confirmed-covid-19-deaths-in-us-by-state-and-county copy.csv")
df2=pd.read_csv("/content/covid-19-state-level-data copy.csv")
df3=pd.read_csv("/content/us-mobility copy.csv")

In [67]:
df1.head()

,Unnamed: 0,county_fips,county_name,state_name,state_fips,date,deaths,lat,long,geometry
0,0,0,Statewide Unallocated,AL,1,2020-01-22,0,NaN,NaN,NaN
1,1,0,Statewide Unallocated,AL,1,2020-01-23,0,NaN,NaN,NaN
2,2,0,Statewide Unallocated,AL,1,2020-01-24,0,NaN,NaN,NaN
3,3,0,Statewide Unallocated,AL,1,2020-01-25,0,NaN,NaN,NaN
4,4,0,Statewide Unallocated,AL,1,2020-01-26,0,NaN,NaN,NaN

In [68]:
df2.head()

   Unnamed: 0        date       state  fips  cases  deaths
0           0  2020-01-21  Washington    53      1       0
1           1  2020-01-22  Washington    53      1       0
2           2  2020-01-23  Washington    53      1       0
3           3  2020-01-24    Illinois    17      1       0
4           4  2020-01-24  Washington    53      1       0

In [69]:
df3.head()

,state,county,date,retail,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,Total,Total,2020-02-15,6.0,2.0,15.0,3.0,2.0,-1.0
1,Total,Total,2020-02-16,7.0,1.0,16.0,2.0,0.0,-1.0
2,Total,Total,2020-02-17,6.0,0.0,28.0,-9.0,-24.0,5.0
3,Total,Total,2020-02-18,0.0,-1.0,6.0,1.0,0.0,1.0
4,Total,Total,2020-02-19,2.0,0.0,8.0,1.0,1.0,0.0

In [70]:
df1.shape

(600660, 10)

In [71]:
#clean and store the data
print(df1["lat"].isna().count())
print(df1["long"].isna().count())
print(df1["geometry"].isna().count())
df1=df1.dropna()
df1.head()

600660
600660
600660

,Unnamed: 0,county_fips,county_name,state_name,state_fips,date,deaths,lat,long,geometry
188,188,1001,Autauga County,AL,1,2020-01-22,0,32.539527,-86.644082,POINT (-86.64408227 32.53952745)
189,189,1001,Autauga County,AL,1,2020-01-23,0,32.539527,-86.644082,POINT (-86.64408227 32.53952745)
190,190,1001,Autauga County,AL,1,2020-01-24,0,32.539527,-86.644082,POINT (-86.64408227 32.53952745)
191,191,1001,Autauga County,AL,1,2020-01-25,0,32.539527,-86.644082,POINT (-86.64408227 32.53952745)
192,192,1001,Autauga County,AL,1,2020-01-26,0,32.539527,-86.644082,POINT (-86.64408227 32.53952745)

In [72]:
#clean and store the data
print(df2.shape)
print(df2.isna().count())
df2=df2.dropna()
df2.head()

(8154, 6)
Unnamed: 0    8154
date          8154
state         8154
fips          8154
cases         8154
deaths        8154
dtype: int64

   Unnamed: 0        date       state  fips  cases  deaths
0           0  2020-01-21  Washington    53      1       0
1           1  2020-01-22  Washington    53      1       0
2           2  2020-01-23  Washington    53      1       0
3           3  2020-01-24    Illinois    17      1       0
4           4  2020-01-24  Washington    53      1       0

In [73]:
df3=df3.dropna()
df3.head()

,state,county,date,retail,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,Total,Total,2020-02-15,6.0,2.0,15.0,3.0,2.0,-1.0
1,Total,Total,2020-02-16,7.0,1.0,16.0,2.0,0.0,-1.0
2,Total,Total,2020-02-17,6.0,0.0,28.0,-9.0,-24.0,5.0
3,Total,Total,2020-02-18,0.0,-1.0,6.0,1.0,0.0,1.0
4,Total,Total,2020-02-19,2.0,0.0,8.0,1.0,1.0,0.0

In [ ]:
#push it in sql
import sqlite3 as db
# Create your connection.
conn = db.connect('connection_name')
df1.to_sql(name='covid', con=conn)
df = pd.read_sql_query("SELECT * from confirmed_covid_cases", conn)

# Verify that result of SQL query is stored in the dataframe
print(df.head())

conn.close()

In [ ]:
#push it in sql
import sqlite3 as db
# Create your connection.
conn = db.connect('connection_name')
df2.to_sql(name='covid191', con=conn)
df4 = pd.read_sql_query("SELECT * from covid191", conn)

# Verify that result of SQL query is stored in the dataframe
print(df4.head())

conn.close()

In [ ]:
#push it in sql
import sqlite3 as db
# Create your connection.
conn = db.connect('connection_name')
df2.to_sql(name='covid192', con=conn)
df5 = pd.read_sql_query("SELECT * from covid19", conn)

# Verify that result of SQL query is stored in the dataframe
print(df5.head())

conn.close()